services:
  php_apache:
    build:
      context: ./services/php_apache
    container_name: php-apache
    ports:
      - "${APP_PORT}:80"
      - '443:443'
      # expose:
      #   - 9000
    working_dir: /var/www
    volumes:
      - ./www:/var/www
      - ./services/php_apache/apache/sites-enabled/site.conf:/etc/apache2/sites-available/000-default.conf
      - ./services/php_apache/ssl:/etc/apache2/ssl
      - ./services/php_apache/php/php.ini:/usr/local/etc/php/conf.d/extra-php-config.ini
    depends_on:
      - mariadb
    # command: bash -c "sed -i 's/\"host\" => \"localhost\"/\"host\" => \"${DB_SERVICE_HOST_NAME}\"/' /var/www/vhosts/website/website/var/config/system.php && apache2-foreground"
    # command: bash -c setup.sh
    entrypoint: [ "bash", "-c", "chmod +x setup.sh && sh setup.sh" ]
    # entrypoint: [ "bash", "-c", "chmod +x /scripts/rs-init.sh && sh /scripts/rs-init.sh"]
    networks:
      - app-network

  mariadb:
    image: mariadb:10.0.38
    hostname: "${DB_SERVICE_HOST_NAME}"
    container_name: "${DB_SERVICE_HOST_NAME}"
    restart: unless-stopped
    ports:
      - "${DB_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASS}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASS}"
      MYSQL_DATABASE: "${MYSQL_DB}"
    volumes:
      - ./database-data:/var/lib/mysql
      - ./services/mariadb/my.cnf:/etc/mysql/conf.d/my.cnf
      # - ./db_import_data:/docker-entrypoint-initdb.d
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u root --password=$$MYSQL_ROOT_PASSWORD
      interval: 15s
      retries: 5
    networks:
      app-network:
        aliases:
          - mariadb2

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2
    container_name: phpmyadmin
    ports:
      - "${APP_DB_ADMIN_PORT}:80"
    environment:
      PMA_HOST: mariadb
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:
