# version: '3.9'

services:
  php_apache:
    build:
      context: .
      dockerfile: ./services/php_apache/Dockerfile
# build -t baeldung_greetings --build-arg name=Baeldung .
    container_name: php-apache
    ports:
      - "${APP_PORT}:80"
      - '443:443'
      # - '9000:9000'
      # expose:
      #   - 9000
    working_dir: /var/www
    volumes:
      - ./www:/var/www
      - ./services/php_apache/apache/sites-enabled/site.conf:/etc/apache2/sites-available/000-default.conf
      - ./services/php_apache/ssl:/etc/apache2/ssl
      - ./services/php_apache/php/php.ini:/usr/local/etc/php/conf.d/extra-php-config.ini
    depends_on:
      - mariadb

  mariadb:
    image: mariadb:10.0.38
    container_name: mariadb
    restart: unless-stopped
    ports:
      - "${DB_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASS}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASS}"
      MYSQL_DATABASE: "${MYSQL_DB}"
    volumes:
      - ./database-data:/var/lib/mysql
      - ./services/mariadb/my.cnf:/etc/mysql/conf.d/my.cnf
      # - ./db_import_data:/docker-entrypoint-initdb.d
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u root --password=$$MYSQL_ROOT_PASSWORD
      interval: 15s
      retries: 5

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2
    container_name: phpmyadmin
    ports:
      - "${APP_DB_ADMIN_PORT}:80"
    environment:
      PMA_HOST: mariadb
    depends_on:
      mariadb:
        condition: service_healthy
